In [54]:
import yfinance as yf

In [ ]:

data = yf.download(
    tickers = 'AAPL',
    start="2020-01-01", 
    end="2024-04-30", 
    interval = "1d",
    ignore_tz=True,
    auto_adjust=True, 
)


data['target next day % change'] = data['Close'].pct_change()*100

data.head()

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume,% change
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,
Date,,,,,,
2020-01-02 00:00:00+00:00,72.796028,72.856621,71.545395,71.799881,135480400,NaN
2020-01-03 00:00:00+00:00,72.088295,72.851761,71.862892,72.020432,146322800,-0.972214
2020-01-06 00:00:00+00:00,72.662712,72.701492,70.954002,71.206070,118387200,0.796824
2020-01-07 00:00:00+00:00,72.320969,72.929314,72.100410,72.672402,108872000,-0.470315
2020-01-08 00:00:00+00:00,73.484360,73.787323,72.022865,72.022865,132079200,1.608650

In [56]:
corr = data.corr()

corr

Price               Close      High       Low      Open    Volume  % change
Ticker               AAPL      AAPL      AAPL      AAPL      AAPL
Price    Ticker
Close    AAPL    1.000000  0.999104  0.999148  0.998071 -0.660286 -0.000215
High     AAPL    0.999104  1.000000  0.998986  0.999238 -0.650252 -0.027339
Low      AAPL    0.999148  0.998986  1.000000  0.999128 -0.669356 -0.024334
Open     AAPL    0.998071  0.999238  0.999128  1.000000 -0.658604 -0.046218
Volume   AAPL   -0.660286 -0.650252 -0.669356 -0.658604  1.000000 -0.014041
% change        -0.000215 -0.027339 -0.024334 -0.046218 -0.014041  1.000000

In [57]:
data = data.drop(['Open', 'Low', 'High'], axis=1)

In [58]:
data

Price                           Close     Volume  % change
Ticker                           AAPL       AAPL
Date
2020-01-02 00:00:00+00:00   72.796028  135480400       NaN
2020-01-03 00:00:00+00:00   72.088295  146322800 -0.972214
2020-01-06 00:00:00+00:00   72.662712  118387200  0.796824
2020-01-07 00:00:00+00:00   72.320969  108872000 -0.470315
2020-01-08 00:00:00+00:00   73.484360  132079200  1.608650
...                               ...        ...       ...
2024-04-23 00:00:00+00:00  166.298248   49537800  0.639164
2024-04-24 00:00:00+00:00  168.410629   48251800  1.270236
2024-04-25 00:00:00+00:00  169.277496   50558300  0.514734
2024-04-26 00:00:00+00:00  168.689621   44838400 -0.347285
2024-04-29 00:00:00+00:00  172.874466   68169400  2.480796

[1088 rows x 3 columns]

In [59]:
# find other features that are correlated with the target RSI


def calculate_rsi(data, window=14):
    # Calculate daily price changes
    delta = data['Close'].diff()
    
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)
    
    avg_gain = gain.rolling(window=window, min_periods=1).mean()
    avg_loss = loss.rolling(window=window, min_periods=1).mean()
    
    rs = avg_gain / avg_loss
    rsi = 100 - (100 / (1 + rs))
    
    return rsi



data['RSI'] = calculate_rsi(data)

In [60]:
data.head()

Price                          Close     Volume  % change        RSI
Ticker                          AAPL       AAPL
Date
2020-01-02 00:00:00+00:00  72.796028  135480400       NaN        NaN
2020-01-03 00:00:00+00:00  72.088295  146322800 -0.972214   0.000000
2020-01-06 00:00:00+00:00  72.662712  118387200  0.796824  44.801076
2020-01-07 00:00:00+00:00  72.320969  108872000 -0.470315  35.372826
2020-01-08 00:00:00+00:00  73.484360  132079200  1.608650  62.347708

In [61]:
corr = data.corr()

corr

Price               Close    Volume  % change       RSI
Ticker               AAPL      AAPL
Price    Ticker
Close    AAPL    1.000000 -0.660286 -0.000215 -0.029126
Volume   AAPL   -0.660286  1.000000 -0.014041 -0.041684
% change        -0.000215 -0.014041  1.000000  0.233027
RSI             -0.029126 -0.041684  0.233027  1.000000

In [62]:
#implement the SMA_FMA strategy to find optimal SMA and FMA values

import sma_fma as ma

In [63]:
#optimal = ma.optimize('AAPL', "1d", "2020-01-01", "2024-04-30")

In [64]:
'''optimal.optimal_ma

sma = optimal.optimal_ma[1]
fma = optimal.optimal_ma[0]'''

'optimal.optimal_ma\n\nsma = optimal.optimal_ma[1]\nfma = optimal.optimal_ma[0]'

In [65]:
data['sma'] = data['Close'].rolling(window=100).mean()
data['fma'] = data['Close'].rolling(window=5).mean()

In [66]:

data.dropna(inplace=True)

In [67]:
corr = data.corr()
corr

Price               Close    Volume  % change       RSI       sma       fma
Ticker               AAPL      AAPL
Price    Ticker
Close    AAPL    1.000000 -0.569598 -0.003967 -0.026065  0.907607  0.994461
Volume   AAPL   -0.569598  1.000000  0.024536  0.029012 -0.607268 -0.566671
% change        -0.003967  0.024536  1.000000  0.246656 -0.074946 -0.078424
RSI             -0.026065  0.029012  0.246656  1.000000 -0.266837 -0.075542
sma              0.907607 -0.607268 -0.074946 -0.266837  1.000000  0.916242
fma              0.994461 -0.566671 -0.078424 -0.075542  0.916242  1.000000

In [68]:

# determine indicators RSI, CLOSE, Lagged vol, SMA, FMA, that correlate with % change

#lag everything excepct the target by 1 day
data['% change'] = data['% change'].shift(-1)
data.dropna(inplace=True)

Price,Close,Volume,% change,RSI,sma,fma
Ticker,AAPL,AAPL,,,,
Date,,,,,,
2024-04-22 00:00:00+00:00,165.242081,48116400,0.639164,44.604305,181.819714,166.449719
2024-04-23 00:00:00+00:00,166.298248,49537800,1.270236,45.098002,181.587979,165.955502
2024-04-24 00:00:00+00:00,168.410629,48251800,0.514734,50.340807,181.387617,166.158768
2024-04-25 00:00:00+00:00,169.277496,50558300,-0.347285,50.526344,181.190152,166.726715
2024-04-26 00:00:00+00:00,168.689621,44838400,2.480796,51.470086,180.973972,167.583615

Price               Close    Volume  % change       RSI       sma       fma
Ticker               AAPL      AAPL
Price    Ticker
Close    AAPL    1.000000 -0.569469 -0.101409 -0.026188  0.907562  0.994467
Volume   AAPL   -0.569469  1.000000  0.035214  0.029073 -0.607231 -0.566540
% change        -0.101409  0.035214  1.000000 -0.008369 -0.076676 -0.097357
RSI             -0.026188  0.029073 -0.008369  1.000000 -0.267216 -0.075660
sma              0.907562 -0.607231 -0.076676 -0.267216  1.000000  0.916278
fma              0.994467 -0.566540 -0.097357 -0.075660  0.916278  1.000000

In [ ]:


# Calculate the mean of the indicators for the entire week before
weekly_data = data.rolling(window=5).mean()

# Drop any rows with NaN values that may have been introduced by rolling
weekly_data.dropna(inplace=True)

weekly_data.drop(['% change'], axis=1, inplace=True) 

weekly_data.head()

Price,Close,Volume,RSI,sma,fma
Ticker,AAPL,AAPL,,,
Date,,,,,
2020-06-01 00:00:00+00:00,77.606229,121270320.0,64.665470,71.030356,77.429665
2020-06-02 00:00:00+00:00,77.928268,113694480.0,64.027727,71.082934,77.572415
2020-06-03 00:00:00+00:00,78.269806,112003680.0,65.392527,71.134429,77.735045
2020-06-04 00:00:00+00:00,78.468094,102803600.0,65.702950,71.181653,77.946882
2020-06-05 00:00:00+00:00,79.128746,99547200.0,69.294738,71.227166,78.280229